---
import Layout from "../layouts/main.astro";

import Slider from "../sections/Slider.astro";

import Dots from "../icons/Dots.astro";
// Component Imports
import Logo from "../components/Logo.astro";
import UserPanel from "../components/UserPanel.astro";
---

<Layout content={{ title: "Astro + Tailwind" }}>
  <header class="absolute top-0 w-full">
    <div
      class="container mx-auto items-center justify-between grid grid-cols-[1fr_auto_1fr]"
    >
      <Logo />

      <nav class="flex items-center gap-[40px]">
        <a href="#" class="text-indigo-900 text-base font-normal leading-none"
          >Menu One</a
        >
        <a href="#" class="text-indigo-900 text-base font-normal leading-none"
          >Menu Two</a
        >
        <a href="#" class="text-indigo-900 text-base font-normal leading-none"
          >Menu Three</a
        >
        <a href="#" class="text-indigo-900 text-base font-normal leading-none"
          >Menu Four</a
        >
      </nav>

      <div class="flex justify-end">
        <UserPanel />
      </div>
    </div>
  </header>
  <Slider />
</Layout>
